.c-events {
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.5;
  a {
    color: $black;
  }
  .events__card {
    display: flex;
    flex-direction: row;
    width: 20%;
    margin: 2%;
    padding: 30px;
    margin-top: 20px;
    border: 1px solid $dark-green;
    border-radius: 10px;
  }
  .events__card__description {
    margin-left: 20px;
    width: 100%;
  }
  .events__card__date {
    color: $dark-green;
  }
  .events__card__title {
    font-size: 20px;
  }
}



.margin-top {
  margin-top: 200px;
}

@media (max-width: 800px) {
  .c-events {
    .events__card {
      width: 80vw;
    }
  }
}
