/////////////////////////
//                     //
//    - CONTENT -      //
//                     //
/////////////////////////

.index {
	margin: 70px auto 0 auto;
	width: 100%;
	max-width: 1440px;
	&__hero {
		width: 100%;
		height: auto;
		margin-bottom: 50px;
	}
	&__hero-wrap {
		position: relative;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__hero-title {
		width: 100%;
		margin: 20px auto;
		& h1 {
			text-align: center;
			font-size: 50px;
		}
	}
	&__hero-logo {
		margin: 50px auto;
		width: 100%;
		text-align: center;
		flex: auto;
	}
	&__hero-image {
		flex: auto;
		width: 80%;
		max-width: 450px;
		max-height: 450px;
	}
	&__hero-info {
		width: 100%;
		margin: 20px auto;
		& h2 {
			text-align: center;
			font-size: 40px;
		}
	}
	&__join-now {
		background-color: $indexBtnBG;
		background-image: linear-gradient($indexBtn2BG, $indexBtnBG);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcc4d, endColorstr=#ffac33, GradientType=0)";
		border-color: $indexBtnBorder;
		color: $indexBtn !important;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		height: 80px;
		padding: 0 30px;
		display: flex;
		line-height: 80px;
		font-size: 30px;
		border-radius: 10px;
		transition: $dTransition;
		box-shadow: inset 0px -72px 68px -82px rgba(0,0,0,0.75);
		&:hover { box-shadow: inset 0px -72px 68px -72px rgba(0,0,0,0.75); }
	}
	&__admins {
		margin: 50px 0;
		width: 100%;
	}
	&__admins-wrap {
		position: relative;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__admins-title {
		width: 100%;
		margin: 20px auto 40px auto;
		text-align: center;
		& h2 { font-size: 30px; }
	}
	&__admins-admin {
		width: calc(100%/3);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 30px;
	}
	&__face { border-radius: 10px; }
	&__admins-name,
	&__admins-job {
		width: 100%;
		text-align: center;
		padding: 10px 0;
		font-size: 24px;
	}
	&__cta {
		margin: 50px 0;
		width: 100%;
	}
	&__cta-wrap {
		position: relative;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__cta-title {
		width: 100%;
		margin: 20px auto 40px auto;
		text-align: center;
		& h2 { font-size: 30px; }
	}
	&__cta-item {
		font-size: 24px;
		padding: 5px 0;
		&::before {
			font-family: 'FontAwesome';
			display: inline-block;
			position: absolute;
			margin-left: -30px;
			vertical-align: middle;
			content: '\f121';
		}
	}
	&__links {
		margin: 50px 0;
		width: 100%;
	}
	&__links-wrap {
		position: relative;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__links-title {
		width: 100%;
		margin: 20px auto 40px auto;
		text-align: center;
		& h2 { font-size: 30px; }
	}
	&__links-item {
		width: 25%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 30px;
	}
	&__links-logo {
		width: 100%;
		text-align: center;
		flex: auto;
	}
	&__links-image {
		flex: auto;
		width: 100%;
		height: auto;
		max-width: 265px;
	}
	&__links-name {
		width: 100%;
		& h2 {
			text-align: center;
			font-size: 24px;
		}
	}
	&__break {
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
		margin-top: 20px;
		margin-bottom: 20px;
		display: block;
		-webkit-margin-before: 0.5em;
		-webkit-margin-after: 0.5em;
		-webkit-margin-start: auto;
		-webkit-margin-end: auto;
	}
}

/////////////////////////
//                     //
//   - BREAKPOINTS -   //
//                     //
/////////////////////////

@media screen and (max-width: 960px) {
	.index {
		width: 96%;
		&__admins-admin,
		&__links-item { width: 50%; }
		&__hero-title h1 { font-size: 40px; }
		&__hero-info h2 { font-size: 30px; }
		&__admins-title h2,
		&__cta-title h2,
		&__links-title h2 { font-size: 24px; }
		&__cta-item {
			font-size: 18px;
			margin-bottom: 10px;
			padding-left: 30px;
		}
		&__links-name h2 { font-size: 18px; }
	}
}

@media screen and (max-width: 680px) {
	.index {
		&__admins-admin {
			margin: 20px auto;
			width: 100%;
		}
		&__join-now { font-size: 18px; }
	}
}

@media screen and (max-width: 580px) {


}