{
  "presets": ["env", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-export-extensions",
    "syntax-dynamic-import",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "env": {
    "start": {
      "presets": ["react-hmre"]
    },
    "production": {
      "presets": ["stage-3"],
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
