@import '~sharedStyles/variables';

// ------------------
//  CONTENT
// ------------------

.container {
  position: relative;
  width: 100%;
}

.innerContainer {
  @include gridPadding;

  flex-direction: column;
  align-items: flex-start;
}

.label,
.input {
  margin-bottom: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  margin-top: 10px;
}

.status {
  display: flex;
  margin: 35px 0;

  & p:first-child {
    margin-right: 15px;
  }
}

.submit {
  margin-top: 35px;
}

.disable {
  opacity: 0.6;
  pointer-events: none;
}

// ------------------
//  BREAKPOINTS
// ------------------

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 680px) {
}

@media screen and (max-width: 580px) {
}

@media screen and (max-width: 480px) {
}
