@import '~sharedStyles/variables';

// ------------------
//  CONTENT
// ------------------

.index {
  width: 100%;
  max-width: 1440px;
  margin: 70px auto 0;
}

.hero {
  width: 100%;
  height: auto;
  padding-top: $containerPadding;
  margin-bottom: 50px;
}

.wrap {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  width: 100%;
  margin: 20px auto;

  & h1 {
    font-size: 50px;
    text-align: center;
  }
}

.logo {
  width: 100%;
  flex: auto;
  margin: 50px auto;
  text-align: center;
}

.image {
  width: 80%;
  max-width: 450px;
  max-height: 450px;
  flex: auto;
}

.info {
  width: 100%;
  margin: 20px auto;

  & h2 {
    font-size: 40px;
    text-align: center;
  }
}

.joinNow {
  display: flex;
  height: 80px;
  align-items: center;
  padding: 0 30px;
  background-color: $indexBtnBG;
  background-image: linear-gradient($indexBtn2BG, $indexBtnBG);
  border-color: $indexBtnBorder;
  border-radius: 10px;
  box-shadow: inset 0 -72px 68px -82px rgba(0, 0, 0, 0.75);
  color: $indexBtn !important;
  -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcc4d, endColorstr=#ffac33, GradientType=0)';
  font-size: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  transition: $dTransition;

  &:hover {
    box-shadow: inset 0 -72px 68px -72px rgba(0, 0, 0, 0.75);
  }
}

// ------------------
//  BREAKPOINTS
// ------------------

@include lg {
  .index {
    width: 96%;

    .admins-admin,
    .linksItem {
      width: 50%;
    }

    .title h1 {
      font-size: 40px;
    }

    .info h2 {
      font-size: 30px;
    }

    .adminsTitle h2,
    .ctaTitle h2,
    .linksTitle h2 {
      font-size: 24px;
    }

    .ctaItem {
      padding-left: 30px;
      margin-bottom: 10px;
      font-size: 18px;
    }

    .linksName h2 {
      font-size: 20px;
    }
  }
}

@include md {
  .index {
    .admin {
      width: 100%;
      margin: 20px auto;
    }

    .linksIcon {
      color: $dark-green;
      font-size: 7em;
    }

    .joinNow {
      font-size: 24px;
    }
  }
}

@include sm {
  .joinNow {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .joinNow {
    font-size: 18px;
  }
}
