@import '~sharedStyles/variables';

// ------------------
//  CONTENT
// ------------------

.index {
  margin: 70px auto 0 auto;
  width: 100%;
  max-width: 1440px;
}
.hero {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.title {
  width: 100%;
  margin: 20px auto;
  & h1 {
    text-align: center;
    font-size: 50px;
  }
}
.logo {
  margin: 50px auto;
  width: 100%;
  text-align: center;
  flex: auto;
}
.image {
  flex: auto;
  width: 80%;
  max-width: 450px;
  max-height: 450px;
}
.info {
  width: 100%;
  margin: 20px auto;
  & h2 {
    text-align: center;
    font-size: 40px;
  }
}
.joinNow {
  background-color: $indexBtnBG;
  background-image: linear-gradient($indexBtn2BG, $indexBtnBG);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcc4d, endColorstr=#ffac33, GradientType=0)";
  border-color: $indexBtnBorder;
  color: $indexBtn !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  height: 80px;
  padding: 0 30px;
  display: flex;
  line-height: 80px;
  font-size: 30px;
  border-radius: 10px;
  transition: $dTransition;
  box-shadow: inset 0px -72px 68px -82px rgba(0,0,0,0.75);
  &:hover { box-shadow: inset 0px -72px 68px -72px rgba(0,0,0,0.75); }
}

// ------------------
//  BREAKPOINTS
// ------------------

@media screen and (max-width: 960px) {
  .index {
    width: 96%;
    .admins-admin,
    .linksItem { width: 50%; }
    .title h1 { font-size: 40px; }
    .info h2 { font-size: 30px; }
    .adminsTitle h2,
    .ctaTitle h2,
    .linksTitle h2 { font-size: 24px; }
    .ctaItem {
      font-size: 18px;
      margin-bottom: 10px;
      padding-left: 30px;
    }
    .linksName h2 { font-size: 20px; }
  }
}

@media screen and (max-width: 680px) {
  .index {
    .admin {
      margin: 20px auto;
      width: 100%;
    }
    .linksIcon{
        font-size: 7em;
        color: $dark-green;
    }
    .joinNow { font-size: 24px; }
  }
}

@media screen and (max-width: 580px) {
  .joinNow { font-size: 24px; }
  
}

@media screen and (max-width: 480px) {
    .joinNow { font-size: 18px; }
}

