/////////////////////////
//                     //
//     - GLOBAL -      //
//                     //
/////////////////////////

.global {
	&__wrap {
		position: relatve;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
		margin-top: 200px;
	}
    &__title {
        width: 100%;
        margin: 20px auto;
        text-align: center;
        font-size: 50px;
    }

		&__break {
	        border: 0;
	        height: 1px;
	        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	        margin-top: 20px;
	        margin-bottom: 20px;
	        display: block;
	        -webkit-margin-before: 0.5em;
	        -webkit-margin-after: 0.5em;
	        -webkit-margin-start: auto;
	        -webkit-margin-end: auto;
	    }
}
