@import '~sharedStyles/variables';

// ------------------
//  CONTENT
// ------------------

.cta {
  width: 100%;
  margin: 50px 0;
}

.wrap {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  width: 100%;
  margin: 20px auto 40px;
  text-align: center;

  & h2 {
    font-size: 30px;
  }
}

.item {
  padding: 5px 0;
  font-size: 24px;

  &::before {
    position: absolute;
    display: inline-block;
    margin-left: -30px;
    content: '\f121';
    font-family: 'FontAwesome';
    vertical-align: middle;
  }
}

// ------------------
//  BREAKPOINTS
// ------------------

@media screen and (max-width: 960px) {
  .title h2 {
    font-size: 24px;
  }

  .item {
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 18px;
  }
}

@media screen and (max-width: 680px) {
}

@media screen and (max-width: 580px) {
}

@media screen and (max-width: 480px) {
}
