
// ==================================================
//
//
//              Free Code Camp Columbus
//
//
// ==================================================

// ---------------
//      BASE
// ---------------

@import 'base/mixins';
@import 'base/reset';
@import 'base/libs/font-awesome';
@import 'base/libs/remodal';
@import 'base/libs/remodal-default';

// ---------------------
//      STYLE GUIDE
// ---------------------

@import 'style-guide/vars';
@import 'style-guide/colors';
@import 'style-guide/fonts';
@import 'style-guide/buttons';

// ------------------
//      GLOBAL
// ------------------

@import 'base/global';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/modal-dev';

// ------------------
//      MODULES
// ------------------

@import 'modules/index.scss';
@import 'modules/signin.scss';
@import 'modules/calendar.scss';
@import 'modules/index';
@import 'modules/signin';
@import 'modules/signup';

// ==================================================
//
//
//              Free Code Camp Columbus
//
//
// ==================================================
