@import '~sharedStyles/variables';

// ------------------
//  CONTENT
// ------------------

.nav {
  top: 0;
  width: 100%;
  height: 50px;
  background: $dark-green;
  position: fixed;
  z-index: 100;
}
.wrap {
  width: 95%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
}
.navLink {
  text-decoration: none;
  outline: none;
  color: $solidWhite;
  height: 50px;
  display: flex;
  align-items: center;
  &:hover {
    color: $black;
    background: $headerLinkHover;
  }
}
.logoWrap,
.links {
  width: 100%;
  display: flex;
}
.logoWrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.logo {
  font-family: $saxmono;
  font-size: 30px;
  color: $solidWhite;
  text-decoration: none;
  & i { margin-left: 10px; }
}
.links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
.link { margin: 0 20px; }
.menu {
  width: 80px;
  height: 38px;
  display: none;
  align-items: center;
  justify-content: center;
  color: $black;
  border: 1px solid $solidWhite;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background: $headerLinkHover;
    color: $black;
  }
}
.dropdown {
  top: 0;
  padding-top:50px;
  width: 100%;
  height: 0;
  background: $dark-green;
  position: fixed;
  z-index: 90;
  overflow: hidden;
  transition: height 0.4s;
  &Wrap {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &Link {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 60px;
    display: flex;
    flex-basis: auto;
    transition: height 0.4s;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: $solidWhite;
    cursor: pointer;
    &:hover {
      color: $black;
      background: $headerLinkHover;
    }
  }
}
.show {
  height: 240px !important;
  padding-top: 50px;
  overflow: hidden;
}

// ------------------
//  BREAKPOINTS
// ------------------

@media screen and (max-width: 960px) {
  .links { width: 100px; }
  .link { display: none; }
  .menu { display: flex !important; }
}

@media screen and (max-width: 680px) {
  .logo { font-size: 24px; }
}

@media screen and (max-width: 580px) {

}

@media screen and (max-width: 480px) {

}
