@import '~sharedStyles/variables';

// ------------------
//  CONTENT
// ------------------

.container {
  width: 100%;
  margin: 50px auto 0;
}

.innerContainer {
  width: 90%;
  max-width: 1440px;
  height: auto;
  min-height: 100vh;
  padding-top: 35px;
  margin: 0 auto;
}

// ------------------
//  BREAKPOINTS
// ------------------

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 680px) {
}

@media screen and (max-width: 580px) {
}

@media screen and (max-width: 480px) {
}
