@import '~sharedStyles/variables';

// ------------------
//  CONTENT
// ------------------

.container {
  margin: 70px auto 0 auto;
  width: 100%;
  // max-width: 1440px;
}

.innerContainer {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}

// ------------------
//  BREAKPOINTS
// ------------------

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 680px) {

}

@media screen and (max-width: 580px) {

}

@media screen and (max-width: 480px) {

}

