// This class is used specifically to hide content on a screen but remain readable by screen readers
.visuallyhidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  margin: -1px !important;  
  clip: rect(0 0 0 0) !important;
}
