@import 'sharedStyles/variables';

// ------------------
//  CONTENT
// ------------------

.break {
  display: block;
  height: 1px;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  -webkit-margin-after: 0.5em;
  -webkit-margin-before: 0.5em;
}

// ------------------
//  BREAKPOINTS
// ------------------

@include lg {
}

@include md {
}

@include sm {
}

@include xs {
}
