@import '~sharedStyles/variables';

// ------------------
//  CONTENT
// ------------------

.admins {
  width: 100%;
  margin: 50px 0;
}

.wrap {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  width: 100%;
  margin: 20px auto 40px;
  text-align: center;

  & h2 {
    font-size: 30px;
  }
}

.admin {
  display: flex;
  width: calc(100% / 3);
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.face {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
}

.name,
.job {
  width: 100%;
  padding: 10px 0;
  font-size: 24px;
  text-align: center;
}

.image {
  width: auto;
  max-width: 200px;
  height: auto;
  max-height: 200px;
}

// ------------------
//  BREAKPOINTS
// ------------------

@include lg {
  .admins-title h2 {
    font-size: 24px;
  }

  .admin {
    width: 50%;
  }
}

@include md {
  .admin {
    width: 100%;
    margin: 20px auto;
  }
}

@include sm {
}

@include xs {
}
