@import '~sharedStyles/variables';

// ------------------
//  CONTENT
// ------------------

.admins {
  margin: 50px 0;
  width: 100%;
}
.wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.title {
  width: 100%;
  margin: 20px auto 40px auto;
  text-align: center;
  & h2 { font-size: 30px; }
}
.admin {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
.face { border-radius: 10px; }
.name,
.job {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
}

// ------------------
//  BREAKPOINTS
// ------------------

@media screen and (max-width: 960px) {
  .admins-title h2 { font-size: 24px; }
}

@media screen and (max-width: 680px) {
  .admin {
    margin: 20px auto;
    width: 100%;
  }
}

@media screen and (max-width: 580px) {

}

@media screen and (max-width: 480px) {

}
