@import '~sharedStyles/variables';

// ------------------
//  CONTENT
// ------------------

.links {
  width: 100%;
  margin: 50px 0;
}

.icon {
  color: $dark-green;
  font-size: 10em !important;
}

.wrap {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  width: 100%;
  margin: 20px auto 40px;
  text-align: center;

  & h2 {
    font-size: 30px;
  }
}

.item {
  display: flex;
  width: 25%;
  min-width: 200px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.logo {
  width: 100%;
  text-align: center;
}

.image {
  width: 100%;
  max-width: 265px;
  height: auto;
}

.name {
  width: 100%;

  & h2 {
    padding: 20px 0;
    font-size: 24px;
    text-align: center;
  }
}

// ------------------
//  BREAKPOINTS
// ------------------

@include lg {
  .item {
    width: 50%;
  }

  .title h2 {
    font-size: 24px;
  }

  .name h2 {
    font-size: 18px;
  }
}

@include md {
  .icon {
    color: $dark-green;
    font-size: 7em;
  }
}

@include sm {
}

@include xs {
}
