@import '~sharedStyles/variables';

// ------------------
//  CONTENT
// ------------------

.signin {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user {
  height: auto;
  width: 400px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  &.hide { opacity: 0; }
  &.none { display: none; }
}
.userWrap {
  border: 2px solid #006400;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  box-shadow: 10px 10px 70px -10px #000;
  background: #eeeeee;
}
.userLogo {
  width: 150px;
  height: 150px;
  img {
    width: 100%;
    height: auto;
  }
}
.userTitle {
  font-size: 32px;
  padding: 20px 0;
}
.userForm {
  padding: 0 30px;
  input {
    font-family: $lato;
    width: 100%;
    border-radius: 6px;
    height: 50px;
    font-size: 24px;
    box-shadow: none;
    outline: none;
    text-shadow: none;
    text-indent: 10px;
    border: none;
    margin-bottom: 20px;
  }
  [type="submit"] {
    background: transparent;
    border: 2px solid $green;
    color: $green;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      color: $solidWhite;
      background: $green;
      border: none;
    }
  }
}
.userInfo {
  p { margin-bottom: 10px; }
  a {
    color: $green;
    &:hover { color: darken($green, 10%); }
  }
}
.userTerms {
  height: 16px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  [type="checkbox"] {
    width: auto;
    height: auto;
  }
  a {
    color: $green;
    &:hover { color: darken($green, 10%); }
  }
}
// .js--user__signup,
// .js--user__login { transition: all 0.5s ease-in-out; }

// ------------------
//  BREAKPOINTS
// ------------------

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 680px) {

}

@media screen and (max-width: 580px) {

}

@media screen and (max-width: 480px) {

}
