// ------------------
//  MIXINS
// ------------------

@mixin gridPadding() {
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

@mixin btn($color, $hoverColor, $hoverBG) {
  display: inline-block;
  height: 50px;
  padding: 0 25px;
  border: 2px solid $color;
  border-radius: 25px;
  color: $color;
  line-height: 46px;
  transition: $dTransition;

  &:hover {
    background: $hoverBG;
    color: $hoverColor;
  }
}

@mixin animateLink($color, $height: 2px) {
  position: relative;

  &::before {
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0%;
    height: $height;
    background: $color;
    content: ' ';
    transition: $dTransition;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}
