<!--



//////////////////////////////////////////
//										//
//   GENERIC PAGE TEMPLATE BY @JWOO92.	//
//										//
//////////////////////////////////////////

- COPY & PASTE INTO A NEW PAGE HTML FILE.
- IF YOU HAVE ANY QUESTIONS, REACH OUT TO ANY OF THE ADMINS.



-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Welcome to Free Code Camp Columbus."> <!-- CHANGE TO DESIRED PAGE DESCRIPTION -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Free Code Camp Columbus</title>
  <link rel="icon" href="assets/favicon.png">
  <!-- <link rel="stylesheet" href="assets/font-awesome.min.css">  UNCOMMENT ONLY IF USING FONT-AWESOME -->
  <link rel="stylesheet" href="assets/fccc.min.css">
</head>

<body class="">  <!-- give the body a class name related to the page. @JW -->
	<!-- BODY CONTENT  -->








	<!-- END BODY CONTENT -->
	<!-- DO NOT CHANGE OR TOUCH ANYTHING BELOW THIS POINT -->
	<script src="assets/jquery-2.1.4.min.js"></script>
	<script src="assets/fccc.min.js"></script>
</body>
</html>