/*Free Code Camp Colors*/

$dark-green: #006400;

$green: #007E00;

$yellow: #FFEE18;

$orange: #FF9C2A;

$light-orange: #FFAD25;

$blue: #3949AB;

$light-blue: #2DB9FF;

$red: #FF4025;

$light-red: #FF6D58;

$pink: #F06292;

$purple: #BA68C8;

$brown: #A4755F;

$grey: #E0E0E0;

$dark-grey: #939393;

$black: #2A2A2A;

$white: #FFFFFF;