// ------------------
//  GENERAL
// ------------------

$white: #f0f0f0;
$black: #020202;
$solidWhite: #fff;
$solidBlack: #000;

// ------------------
//  FCC COLORS
// ------------------

$dark-green: #006400;
$green: #007e00;
$yellow: #ffee18;
$orange: #ff9c2a;
$light-orange: #ffad25;
$blue: #3949ab;
$light-blue: #2db9ff;
$red: #ff4025;
$light-red: #ff6d58;
$pink: #f06292;
$purple: #ba68c8;
$brown: #a4755f;
$grey: #e0e0e0;
$dark-grey: #939393;
$black: #2a2a2a;

// ------------------
//  NAV
// ------------------

$headerLinkHover: #ddd;

// ------------------
//  INDEX
// ------------------

$indexBtn: #292f33;
$indexBtnBG: #ffac33;
$indexBtn2BG: #ffcc4d;
$indexBtnBorder: #f1a02a;
