// ------------------
//  GENERAL
// ------------------

$white: #F0F0F0;
$black: #020202;
$solidWhite: #FFFFFF;
$solidBlack: #000;

// ------------------
//  FCC COLORS
// ------------------

$dark-green: #006400;
$green: #007E00;
$yellow: #FFEE18;
$orange: #FF9C2A;
$light-orange: #FFAD25;
$blue: #3949AB;
$light-blue: #2DB9FF;
$red: #FF4025;
$light-red: #FF6D58;
$pink: #F06292;
$purple: #BA68C8;
$brown: #A4755F;
$grey: #E0E0E0;
$dark-grey: #939393;
$black: #2A2A2A;

// ------------------
//  NAV
// ------------------

$headerLinkHover: #DDDDDD;

// ------------------
//  INDEX
// ------------------

$indexBtn: #292f33;
$indexBtnBG: #ffac33;
$indexBtn2BG: #ffcc4d;
$indexBtnBorder: #f1a02a;