.header {
    top: 0;
    width: 100%;
    height: 50px;
    background: $dark-green;
    position: fixed;
    z-index: 100;

    &__wrap {
        width: 95%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        margin: 0 auto;
    }

    & .nav__link {
        text-decoration: none;
        outline: none;
        color: $white;
        height: 50px;
        display: flex;
        align-items: center;
        &:hover {
            color: $black;
            background: #ddd;
        }
    }

    &__logo-wrap,
    &__links {
        width: 100%;
        display: flex;
    }

    &__logo-wrap {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    &__logo {
        font-family: $saxmono;
        font-size: 30px;
        color: $white;
        text-decoration: none;
        & i { margin-left: 10px; }
    }

    &__links {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    &__link {
        margin: 0 20px;
    }

    &__menu {
        width: 80px;
        height: 38px;
        display: none;
        align-items: center;
        justify-content: center;
        color: $white;
        border: 1px solid $white;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background: #ddd;
            color: $black;
        }
    }
}

.headerdropdown {
    top: 0;
    padding-top:50px;
    width: 100%;
    height: 0;
    background: $dark-green;
    position: fixed;
    z-index: 90;
    overflow: hidden;
    transition: height 0.4s;


    &__wrap {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__link {
        flex-grow: 1;
        flex-shrink: 1;
        min-height: 60px;
        display: flex;
        flex-basis: auto;
        transition: height 0.4s;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        color: $white;
        cursor: pointer;
        &:hover {
            color: $black;
            background: #ddd;
        }
    }

    &--show {
        &.headerdropdown {
            height: 240px !important;
            padding-top: 50px;
            overflow: hidden;
        }
    }
}


/////////////////////////
//                     //
//   - BREAKPOINTS -   //
//                     //
/////////////////////////

@media screen and (max-width: 960px) {
    .header {
        .header__links { width: 100px; }
        .header__link {
            display: none;
        }
        .header__menu { display: flex !important; }
    }
}

@media screen and (max-width: 680px) {
    .header__logo { font-size: 24px; }
}

@media screen and (max-width: 580px) {


}